@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}
a:link {
  color: inherit;
}

body {
  display: grid;
  background: #ebebeb;
  font-family: "Roboto", sans-serif;
  grid-template-areas: "header" "main" "footer";
}
body header {
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0.5rem;
  grid-area: header;
  background: #fff159;
  border-bottom: 1px solid #666666;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
body header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: left;
}
body header .logo img {
  width: 50px;
  aspect-ratio: 1;
}
body header .navegacion {
  position: relative;
  display: flex;
  justify-content: right;
  gap: 1rem;
}
body header .navegacion button {
  cursor: pointer;
  width: 35px;
  aspect-ratio: 1;
  background-color: inherit;
  outline: none;
  border: none;
}
body header .navegacion button svg {
  width: 100%;
  height: 100%;
  fill: #666666;
}
body header .navegacion button:hover svg {
  fill: green;
}
body header .navegacion button.oculto {
  display: none;
}
body header .navegacion #botonDescargarCsv:hover::after {
  position: absolute;
  top: 80px;
  right: 5px;
  content: "Descargar en CSV";
}
body header .navegacion #botonPapelera:hover::after {
  position: absolute;
  top: 80px;
  right: 5px;
  content: "Restaurar";
}
body header .navegacion #botonNotificaciones:hover::after {
  position: absolute;
  top: 80px;
  right: 5px;
  content: "Notificaciones";
}
body header .navegacion #botonNotificaciones.recentlyUpdated {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
body header .navegacion #botonNotificaciones.recentlyUpdated svg {
  fill: red;
}
body header .navegacion #botonNotificaciones.recentlyUpdatedRemoved svg {
  transition: all 1s;
}
body header .navegacion #botonGeneradorRandom:hover::after {
  position: absolute;
  top: 80px;
  right: 5px;
  content: "Cargar Productos Aleatorios";
}
body header .navegacion #botonConfiguracion:hover::after {
  position: absolute;
  top: 80px;
  right: 5px;
  content: "Configuración";
}
body header .navegacion #botonImportarPorVendedor:hover::after {
  position: absolute;
  top: 80px;
  right: 5px;
  content: "Importar de Vendedor";
}
body header .navegacion ::after {
  background-color: #666666;
  color: #ebebeb;
  padding: 0.5rem;
}
body main {
  grid-area: main;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .agregarProductos, body main .presupuesto, body main .simulacion {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
body main .agregarProductos input, body main .presupuesto input, body main .simulacion input {
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  background-color: inherit;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-bottom: 1px solid blue;
}
body main .agregarProductos input.input-error, body main .presupuesto input.input-error, body main .simulacion input.input-error {
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
body main .agregarProductos input.input-success, body main .presupuesto input.input-success, body main .simulacion input.input-success {
  background-color: green;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
body main .agregarProductos button, body main .presupuesto button, body main .simulacion button {
  font-family: inherit;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 5px;
  background-color: green;
  color: #ebebeb;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 200px;
}
body main .productos {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body main .productos .productos__individual {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: #fefefe;
  box-shadow: 5px 5px 15px #333;
  border: 3px solid #666666;
  font-size: 1.8rem;
  width: 300px;
  height: 500px;
}
body main .productos .productos__individual .superior {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: #fff159;
  padding: 0.25rem;
}
body main .productos .productos__individual .superior .identificador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
body main .productos .productos__individual .superior .botones {
  display: flex;
  justify-content: right;
}
body main .productos .productos__individual .superior .botones button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}
body main .productos .productos__individual .superior .botones button svg {
  width: 30px;
  aspect-ratio: 1;
  fill: #666666;
}
body main .productos .productos__individual .superior .botones button:hover svg {
  fill: red;
}
body main .productos .productos__individual .principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
body main .productos .productos__individual .principal .fecha {
  color: #99bee1;
  font-size: 1.2rem;
}
body main .productos .productos__individual .principal .titulo {
  width: 90%;
  max-height: 90px;
  font-size: 1.5rem;
  overflow: hidden;
  text-align: center;
}
body main .productos .productos__individual .principal .img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 200px;
}
body main .productos .productos__individual .principal .img-container img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  mix-blend-mode: multiply;
}
body main .productos .productos__individual .principal .precio::after {
  content: "$";
}
body main .productos .productos__individual .abajo {
  width: 100%;
}
body main .productos .productos__individual .abajo .estado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 2rem;
}
body main .productos .productos__individual .abajo .estado-true {
  background-color: green;
}
body main .productos .productos__individual .abajo .estado-false {
  background-color: red;
}
body main .github-logo {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
}
body footer {
  padding: 2rem;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff159;
  border-top: 1px solid #666666;
}
body footer a {
  font-size: 1.2rem;
  color: blue;
  font-style: none;
  text-decoration: none;
}

.notificacionesContenedor, .configuracionUsuarioContenedor {
  position: fixed;
  width: 90vw;
  height: auto;
  min-height: 400px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 100;
  background-color: #99bee1;
  top: 120px;
  right: 10px;
  border: 3px solid #666666;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.6);
}

.notificacionesContenedor div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 0.5rem;
  color: #000;
}
.notificacionesContenedor div button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  margin-right: 0.5rem;
}
.notificacionesContenedor div button svg {
  width: 25px;
  height: 25px;
  fill: #333;
}
.notificacionesContenedor div span {
  text-align: left;
}

.configuracionUsuarioContenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.configuracionUsuarioContenedor .horizontal {
  margin: 1rem;
  padding: 0.5rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #666666;
}
.configuracionUsuarioContenedor .horizontal span {
  width: 80%;
}
.configuracionUsuarioContenedor input[type=checkbox] {
  height: 20px;
  aspect-ratio: 1;
}
.configuracionUsuarioContenedor input[type=email] {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
.configuracionUsuarioContenedor .vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem;
}
.configuracionUsuarioContenedor .vertical .botonesOrdenContenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.configuracionUsuarioContenedor .vertical .botonesOrdenContenedor button {
  cursor: pointer;
  background-color: inherit;
  width: 20vw;
  aspect-ratio: 3;
  box-shadow: 5px 5px black;
  border-radius: 5px;
}
.configuracionUsuarioContenedor .vertical .botonesOrdenContenedor button:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}
.configuracionUsuarioContenedor .vertical .botonesOrdenContenedor button:disabled {
  cursor: initial;
  box-shadow: none;
  transform: translate(5px, 5px);
}

.oculto {
  display: none;
  border: 5px solid red;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media only screen and (min-width: 767px) {
  body header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  body header .logo img {
    width: 90px;
    aspect-ratio: 1;
  }
  body header .navegacion button {
    width: 45px;
    aspect-ratio: 1;
  }
  .notificacionesContenedor, .configuracionUsuarioContenedor {
    position: fixed;
    width: 40vw;
    min-width: 500px;
    top: 100px;
  }
  .configuracionUsuarioContenedor .vertical .botonesOrdenContenedor button {
    width: 100px;
  }
}/*# sourceMappingURL=styles.css.map */