$debug-level:0;

$fondo: #ebebeb;
$gris: #666666;
$azul: #99bee1;
$amarillo: #fff159;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @if $debug-level == 1 {
        outline: 1px solid red;
    }

    @if $debug-level == 2 {
        outline: 1px solid red !important;
        background: rgba(250,10,50, 0.15);
    }
}


@mixin centrarConFlex($_direccion) {
    display: flex;
    @if $_direccion == 1 {
        flex-direction: column;
    }
    @if $_direccion == 0 {
        flex-direction: row;
    }
    justify-content: center;
    align-items: center;

}


body {
    display: grid;
    //grid-template-rows: auto auto auto;
    background: $fondo;

    grid-template-areas:
        "header"
        "main"
        "footer";

    header {
        padding: 0.5rem;
        grid-area: header;
        background: $amarillo;
        border-bottom: 1px solid $gris;

        @include centrarConFlex(0);
        justify-content: space-between;

        .logo {
            @include centrarConFlex(1);
            img {
                width: 50px;
                aspect-ratio: 1;
            }

        }

        nav {
            ul {
                list-style-type: none;
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }

    main {
        grid-area: main;
        padding: 100px 0;
        @include centrarConFlex(1);

        i {
            font-size: 3rem;
        }

        button {
            font-size: 2rem;
            margin: 1rem;
            padding: 1rem;
            color: white;
            background-color: green;
            // width: 300px;
            &:hover {
                background-color: blue;
            }
        }

        .productos {
            //border: 1px solid yellow;
            width: 90%;
            @include centrarConFlex(0);
            justify-content: space-evenly;
            flex-wrap: wrap;

            .productos__individual {
                margin: 1rem;
                @include centrarConFlex(1);
                justify-content: space-between;
                background: #fefefe;
                box-shadow: 5px 5px 15px #333;
                border: 3px solid $gris;
                // border-radius: 30px;
                font-size: 1.8rem;

                width: 300px;
                height: 500px;

                .superior {
                    @include centrarConFlex(0);
                    width: 100%;
                    justify-content: space-between;
                    background: $amarillo;
                    padding: 0.25rem;
                    .identificador {
                        @include centrarConFlex(0);
                        font-size: 1.5rem;
                    }

                    .botones {
                        display: flex;
                        justify-content: right;
                        i {
                            margin: 4px;
                            font-size: 1.5rem;
                        }
                    }
                }

                .principal {
                    @include centrarConFlex(1);
                    padding: 1rem 0;
                    justify-content: space-between;
                    height: 100%;
                    width: 100%;
                    .titulo {
                        font-size: 1.5rem;
                    }
                    img {
                        width: 70%;
                        mix-blend-mode: multiply;
                    }

                    .precio::after {
                        content: "$";
                    }
                }

                .abajo {
                    width: 100%;

                    .estado {
                        @include centrarConFlex(0);
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 1rem;
                        color: white;
                        font-size: 2rem;
                    }
                    .activo {
                        background-color: green;
                    }

                    .inactivo {
                        background-color: red;
                    }
                }
            }
        }

    }

    footer {
        padding: 2rem;
        grid-area: footer;
        @include centrarConFlex(0);
        background: $amarillo;
        border-top: 1px solid $gris;

        a {
            font-size: 1.2rem;
            color: blue;
            font-style: none;
            text-decoration: none;
        }
    }
}



@media only screen and (min-width: 767px) {
    body {
        header {
            .logo {
                img {
                    width: 90px;
                    aspect-ratio: 1;
                }
            }
            nav {
                // height: 100%;
                ul {
                    list-style-type: none;
                    i {
                        font-size: 2.5rem;
                    }
                }
            }
        }
        main {

        }
        footer {

        }
    }
}