$debug-level:0;

$blanco: #fefefe;
$fondo: #ebebeb;
$gris: #666666;
$azul: #99bee1;
$amarillo: #fff159;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @if $debug-level == 1 {
        outline: 1px solid red;
    }

    @if $debug-level == 2 {
        outline: 1px solid red !important;
        background: rgba(250,10,50, 0.15);
    }
}


@mixin centrarConFlex($_direccion) {
    display: flex;
    @if $_direccion == 1 {
        flex-direction: column;
    }
    @if $_direccion == 0 {
        flex-direction: row;
    }
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    &:visited {
        color: inherit;
    }
    &:active {
        color: inherit;
    }
    &:link {
        color: inherit;
    }

}

body {
    display: grid;
    background: $fondo;
    font-family: 'Roboto', sans-serif;

    grid-template-areas:
        "header"
        "main"
        "footer";

    header {
        position: sticky;
        top: 0;
        z-index: 10;

        padding: 0.5rem;
        grid-area: header;
        background: $amarillo;
        border-bottom: 1px solid $gris;

        height: 120px;
        @include centrarConFlex(1);
        justify-content: space-between;

        .logo {
            @include centrarConFlex(0);
            gap: 1rem;
            justify-content: left;
            img {
                width: 50px;
                aspect-ratio: 1;
            }
        }

        .navegacion {
            position: relative;
            display: flex;
            justify-content: right;
            gap: 1rem;
            button {
                cursor: pointer;
                width: 35px;
                aspect-ratio: 1;
                background-color: inherit;
                outline: none;
                border: none;
                svg {
                    width: 100%;
                    height: 100%;
                    fill: $gris;
                }

                &:hover {
                    svg {
                        fill: green;
                    }
                }
                &.oculto {
                    display: none;
                }
            }

            #botonDescargarCsv {
                &:hover {
                    &::after {
                        position: absolute;
                        top: 80px;
                        right: 5px;
                        content: "Descargar en CSV";
                    }
                }
            }

            #botonPapelera {
                &:hover {
                    &::after {
                        position: absolute;
                        top: 80px;
                        right: 5px;
                        content: "Restaurar";
                    }
                }
            }

            #botonNotificaciones {
                &:hover {
                    &::after {
                        position: absolute;
                        top: 80px;
                        right: 5px;
                        content: "Notificaciones";
                    }
                }

                &.recentlyUpdated {
                    animation: shake 0.5s;
                    animation-iteration-count: infinite;
                    svg {
                        fill: red;
                    }
                }
                &.recentlyUpdatedRemoved {
                    svg {
                        //fill: $gris;
                        transition: all 1s;
                    }
                }
            }

            #botonGeneradorRandom {
                &:hover {
                    &::after {
                        position: absolute;
                        top: 80px;
                        right: 5px;
                        content: "Cargar Productos Aleatorios";
                    }
                }
            }

            #botonConfiguracion {
                &:hover {
                    &::after {
                        position: absolute;
                        top: 80px;
                        right: 5px;
                        content: "Configuración";
                    }
                }
            }

            #botonImportarDesdeArchivo {
                &:hover {
                    &::after {
                        position: absolute;
                        top: 80px;
                        right: 5px;
                        content: "Importar desde archivo";
                    }
                }
            }

            #botonImportarPorVendedor {
                &:hover {
                    &::after {
                        position: absolute;
                        top: 80px;
                        right: 5px;
                        content: "Importar por Nick de Vendedor";
                    }
                }
            }

            ::after {
                background-color: $gris;
                color: $fondo;
                padding: 0.5rem;
            }
        }
    }

    main {
        grid-area: main;
        padding: 10px 0;
        @include centrarConFlex(1);

        .inputBusqueda {
            width: 50%;
            height: 2rem;
            font-size: 1rem;
            padding: 1rem;
            text-align: center;
            background-color: inherit;
            border: none;
            outline: none;
            border: 2px solid $gris;
            position: absolute;
            top: 120px;
            &:focus {
                z-index: 200;
                background-color: $azul;
                position: fixed;
            }
        }

        .detalles {
            margin-top: 50px;
            @include centrarConFlex(1);
            width: 90%;
            align-items: baseline;
            details {
                padding: 0.25rem;
                margin: 0.25rem;
                font-size: 1.2rem;
            }
        }

        .usuario {
            margin: 20px 20px;
            width: 90%;
            @include centrarConFlex(1);
            .agregarProductos, .presupuesto, .simulacion {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                padding: 1rem;
                background-color: rgba(0,0,0,0.1);
                border-radius: 20px;

                input {
                    font-family: inherit;
                    font-size: 1rem;
                    width: 100%;
                    text-align: center;
                    background-color: $fondo;
                    padding: 0.5rem;
                    border: 1px solid #ccc;
                    border-bottom: 1px solid blue;
                    &.input-error {
                        background-color: red;
                        color: white;
                        font-size: 1rem;
                        font-weight: 600;
                    }

                    &.input-success {
                        background-color: green;
                        color: white;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }

                button {
                    font-family: inherit;
                    cursor: pointer;
                    border: 2px solid green;
                    border-radius: 5px;
                    background-color: green;
                    color: #ebebeb;
                    font-size: 1rem;
                    margin: 0.5rem;
                    padding: 0.5rem;
                    width: 200px;
                }
            }
        }

        .productos {
            width: 90%;
            @include centrarConFlex(0);
            justify-content: space-evenly;
            flex-wrap: wrap;

            .productos__individual {
                margin: 1rem;
                @include centrarConFlex(1);
                justify-content: space-between;
                background: $blanco;
                box-shadow: 5px 5px 15px #333;
                border: 3px solid $gris;
                font-size: 1.8rem;

                width: 300px;
                height: 400px;

                .superior {
                    @include centrarConFlex(0);
                    width: 100%;
                    justify-content: space-between;
                    background: $amarillo;
                    padding: 0.25rem;
                    .identificador {
                        @include centrarConFlex(0);
                        font-size: 1.5rem;
                    }

                    .botones {
                        display: flex;
                        justify-content: right;

                       button {
                            border: none;
                            outline: none;
                            background-color: inherit;
                            cursor: pointer;
                            svg {
                                width: 30px;
                                aspect-ratio: 1;
                                fill: $gris;
                            }
                            &:hover {
                                svg {
                                    fill: red;
                                }
                            }
                       }
                    }
                }

                .principal {
                    @include centrarConFlex(1);
                    padding: 0.5rem 0;
                    justify-content: space-between;
                    height: 100%;
                    width: 100%;

                    .fecha {
                        color: $azul;
                        font-size: 1.0rem;
                    }

                    .titulo {
                        width: 90%;
                        max-height: 90px;
                        font-size: 1.2rem;
                        overflow: hidden;
                        text-align: center;
                    }

                    .img-container {
                        @include centrarConFlex(0);
                        flex-grow: 1;
                        width: 100%;
                        max-height: 170px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: scale-down;
                            mix-blend-mode: multiply;
                        }
                    }
                    .precio {
                        font-size: 1.5rem;
                        &::after {
                            content: " $";
                        }
                    }
                }

                .abajo {
                    width: 100%;

                    .estado {
                        @include centrarConFlex(0);
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 0.5rem;
                        color: white;
                        font-size: 2rem;
                    }
                    .estado-true {
                        background-color: green;
                    }

                    .estado-false {
                        background-color: red;
                    }
                }
            }
        }

        .modalBase {
            position: fixed;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0,0,0,0.1);
            z-index: 50;
        }
    }

    footer {
        @include centrarConFlex(0);
        justify-content: space-around;
        padding: 0.5rem;
        background: $amarillo;
        border-top: 1px solid $gris;

        a {
            @include centrarConFlex(1);
            font-size: 1.2rem;
            font-style: none;
            text-decoration: none;
            svg {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.notificacionesContenedor, .configuracionUsuarioContenedor {
    position: fixed;
    width: 90vw;
    height: auto;
    min-height: 400px;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 100;

    background-color: $azul;
    top: 120px;
    right: 10px;
    border: 3px solid $gris;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.6);
}

.notificacionesContenedor {
    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 0.5rem;
        color: #000;
        button {
            border: none;
            outline: none;
            background-color: inherit;
            cursor: pointer;
            margin-right: 0.5rem;
            svg {
                width: 25px;
                height: 25px;
                fill:  #333;
            }
        }
        span {
            text-align: left;
        }
    }
}

.configuracionUsuarioContenedor {
    @include centrarConFlex(1);
    justify-content: space-evenly;

    .horizontal {
        margin: 1rem;
        padding: 0.5rem;
        width: 90%;
        @include centrarConFlex(0);
        justify-content: space-evenly;
         border-bottom: 1px solid $gris;
        span {
            width: 80%;
        }
    }

    input[type=checkbox] {
        height: 20px;
        aspect-ratio: 1;
    }

    input[type=email] {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .vertical {
        @include centrarConFlex(1);
        width: 90%;
        padding: 0.5rem;
        margin: 0.5rem;
        .botonesOrdenContenedor {
            width: 100%;
            @include centrarConFlex(0);

            justify-content: space-evenly;
            button {
                cursor: pointer;
                background-color: inherit;
                width: 20vw;
                aspect-ratio: 3;
                box-shadow: 5px 5px black;
                border-radius: 5px;
                &:active {
                    transform: translate(5px,5px);
                    box-shadow: none;
                }

                &:disabled {
                    cursor: initial;
                    box-shadow: none;
                    transform: translate(5px,5px);
                }
            }
        }
    }
}

.oculto {
    display: none;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


@media only screen and (min-width: 767px) {
    body {
        header {
            height: 100px;

            @include centrarConFlex(0);
            justify-content: space-between;
            .logo {
                img {
                    width: 90px;
                    aspect-ratio: 1;
                }
            }
            .navegacion {
                button {
                    width: 45px;
                    aspect-ratio: 1;
                }
            }
        }
        main {
            .inputBusqueda {
                top: 100px;
            }

            .usuario {
                @include centrarConFlex(0);
                .agregarProductos, .presupuesto, .simulacion {
                    width: 30%;
                }
            }
        }

        footer {
            padding: 2rem;

        }
    }

    .notificacionesContenedor, .configuracionUsuarioContenedor {
        position: fixed;
        width: 40vw;
        min-width: 500px;
        top: 100px;
    }

    .configuracionUsuarioContenedor {
        .vertical {
            .botonesOrdenContenedor {
                button {
                    width: 100px;
                }
            }
        }
    }
}