$debug-level:0;

$fondo: #ebebeb;
$gris: #666666;
$azul: #99bee1;
$amarillo: #fff159;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @if $debug-level == 1 {
        outline: 1px solid red;
    }

    @if $debug-level == 2 {
        outline: 1px solid red !important;
        background: rgba(250,10,50, 0.15);
    }
}

.centrarConFlexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    background: $fondo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    header {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $amarillo;

        .logo {
            img {
                width: 100px;
                aspect-ratio: 1;
            }

        }

        nav {
            // height: 100%;
            ul {
                list-style-type: none;
                // height: 100%;
                i {
                    // height: 100%;
                    font-size: 3vw; //to-do: reemplazar por fijo y acomodar según viewport
                }
            }
        }
    }

    main {
        width: 100%;
        @extend .centrarConFlexCol;

        i {
            font-size: 5rem;
        }

    }

    footer {
        width: 100%;
        padding: 2rem;
        @extend .centrarConFlexCol;
        background: $amarillo;

        a {
            font-size: 1.2rem;
            color: blue;
            font-style: none;
            text-decoration: none;
        }
    }
}